{% set id = datagrid_accessor(item, linkIdPropertyName) %}
{% spaceless %}
    {% if export %}
        {{ datagrid_accessor(item, propertyName) }}
    {% elseif id %}
        <a href='{{ path(route, {id: id}) }}'>{{ datagrid_accessor(item, propertyName) }}</a>
    {% endif %}
{% endspaceless %}