<style>
    .js-datagrid-number-compare {
        display: flex !important;
    }

    .js-datagrid-number-compare .ui.dropdown.selection {
        min-width: 1% !important;
    }

    .js-datagrid-number-compare input {
        width: 100px !important;
        padding-left: 0.785714em !important;
    }
</style>

<div class="ui left action input js-datagrid-number-compare">
    <select class="ui compact selection dropdown">
        <option value="<"><</option>
        <option value=">">></option>
        <option value="=">=</option>
        <option value="<="><=</option>
        <option value=">=">>=</option>
    </select>
    <input type="text" placeholder="{{ placeholder }}">
    <input type="hidden" name="{{ name }}" data-index="{{ index }}">
</div>