<select class="custom-select form-control" name="{{ name }}" data-index="{{ index }}">
    <option value="">Vše</option>
    {% for label,value in options %}
        <option value="{{ value }}">{{ label|trans }}</option>
    {% endfor %}
</select>
